<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <title>Dashboard - Viajes</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/lib/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->

    <link th:href="@{/css/lib/calendar2/semantic.ui.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/calendar2/pignose.calendar.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{/css/lib/owl.theme.default.min.css}" rel="stylesheet" />
    <link th:href="@{/css/helper.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->

</head>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- Logo -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <!-- Logo icon -->

                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span><img th:src="@{/images/logo-text.png}" alt="homepage" class="dark-logo" /></span>
                </a>
            </div>
            <!-- End Logo -->
            <div class="navbar-collapse">
                <!-- toggle and nav items -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                    <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    <!-- Messages -->
                    <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-large"></i></a>
                        <div class="dropdown-menu animated zoomIn">
                            <ul class="mega-dropdown-menu row">


                                <li class="col-lg-3  m-b-30">
                                    <h4 class="m-b-20">CONTACT US</h4>
                                    <!-- Contact -->
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name"> </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Enter email"> </div>
                                        <div class="form-group">
                                            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </form>
                                </li>
                                <li class="col-lg-3 col-xlg-3 m-b-30">
                                    <h4 class="m-b-20">List style</h4>
                                    <!-- List style -->
                                    <ul class="list-style-none">
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                    </ul>
                                </li>
                                <li class="col-lg-3 col-xlg-3 m-b-30">
                                    <h4 class="m-b-20">List style</h4>
                                    <!-- List style -->
                                    <ul class="list-style-none">
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                    </ul>
                                </li>
                                <li class="col-lg-3 col-xlg-3 m-b-30">
                                    <h4 class="m-b-20">List style</h4>
                                    <!-- List style -->
                                    <ul class="list-style-none">
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End Messages -->
                </ul>
                <!-- User profile and search -->
                <ul class="navbar-nav my-lg-0">

                    <!-- Search -->
                    <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                        <form class="app-search">
                            <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                    </li>
                    <!-- Comment -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                            <ul>
                                <li>
                                    <div class="drop-title">Notifications</div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                            <div class="mail-contnet">
                                                <h5>This is title</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-success btn-circle m-r-10"><i class="ti-calendar"></i></div>
                                            <div class="mail-contnet">
                                                <h5>This is another title</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-info btn-circle m-r-10"><i class="ti-settings"></i></div>
                                            <div class="mail-contnet">
                                                <h5>This is title</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-primary btn-circle m-r-10"><i class="ti-user"></i></div>
                                            <div class="mail-contnet">
                                                <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End Comment -->
                    <!-- Messages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-envelope"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                            <ul>
                                <li>
                                    <div class="drop-title">You have 4 new messages</div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="user-img"> <img th:src="@{/images/users/5.jpg}" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="user-img"> <img th:src="@{/images/users/2.jpg}" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>John Doe</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="user-img"> <img th:src="@{/images/users/3.jpg}" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Mr. John</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="user-img"> <img th:src="@{/images/users/4.jpg}" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End Messages -->
                    <!-- Profile -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img th:src="@{/images/users/5.jpg}" alt="user" class="profile-pic" /></a>
                        <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                            <ul class="dropdown-user">
                                <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                <li><a href="#"><i class="ti-wallet"></i> Balance</a></li>
                                <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                                <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End header header -->
    <!-- Left Sidebar  -->
    <div class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-label">Home</li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard <span class="label label-rouded label-primary pull-right">2</span></span></a>

                    </li>


                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Dashboard</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-md-3">
                    <div class="card bg-primary p-20">
                        <div class="media widget-ten">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-usd f-s-40 color-primary"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2 class="color-white" th:text="${personas}"></h2>
                                <p class="m-b-0">Cantidad Usuarios</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-pink p-20">
                        <div class="media widget-ten">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-shopping-cart f-s-40 color-success"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2 class="color-white" th:text="${calculos}"></h2>
                                <p class="m-b-0">Calculos IR</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-success p-20">
                        <div class="media widget-ten">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-archive f-s-40 color-warning"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2 class="color-white" th:text="${correos}"></h2>
                                <p class="m-b-0">Correos Enviados</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-danger p-20">
                        <div class="media widget-ten">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2  class="color-white" th:text="${viajes}"></h2>
                                <p class="m-b-0">Viajes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bg-white m-l-0 m-r-0 box-shadow ">

                <!-- column -->
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-title">
                            <h4>Estado del Sistema</h4>
                        </div>
                        <div class="flot-container">
                            <div id="cpu-load" class="cpu-load"></div>
                        </div>
                    </div>
                </div>




                <!-- column -->

                <!-- column -->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body browser">
                            <p class="f-w-600">Brasil<span class="pull-right"><h th:text="${brasil}"></h></span></p>
                            <div class="progress ">
                                <div role="progressbar" th:style="'width:'+${brasil}+'%; height:8px;'" class="progress-bar bg-danger wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                            </div>

                            <p class="m-t-30 f-w-600">Rusia<span class="pull-right"><h th:text="${rusia}"></h></span></p>
                            <div class="progress">
                                <div role="progressbar" th:style="'width:'+${rusia}+'%; height:8px;'" class="progress-bar bg-info wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                            </div>

                            <p class="m-t-30 f-w-600">Tarma<span class="pull-right"><h th:text="${tarma}"></h></span></p>
                            <div class="progress">
                                <div role="progressbar" th:style="'width:'+${tarma}+'%; height:8px;'" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                            </div>

                            <p class="m-t-30 f-w-600">Cusco<span class="pull-right"><h th:text="${cusco}"></h></span></p>
                            <div class="progress">
                                <div role="progressbar" th:style="'width:'+${cusco}+'%; height:8px;'" class="progress-bar bg-warning wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- column -->
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card bg-dark">
                        <div class="testimonial-widget-one p-17">
                            <div class="testimonial-widget-one owl-carousel owl-theme">
                                <div class="item">
                                    <div class="testimonial-content">
                                        <img class="testimonial-author-img" th:src="@{/images/avatar/3.jpg}" alt="" />
                                        <div class="testimonial-author">Rubén García</div>
                                        <div class="testimonial-author-position">Director EPICS USMP</div>

                                        <div class="testimonial-text">
                                            <i class="fa fa-quote-left"></i> Experiencia en proyectos de migración de datos de Oracle a DB2 y de sistemas legacy a SAP IS-HER
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <img class="testimonial-author-img" th:src="@{/images/avatar/8.jpg}" alt="" />
                                        <div class="testimonial-author">Waldy Grandez</div>
                                        <div class="testimonial-author-position">Ingeniera en Computación y Sistemasp</div>

                                        <div class="testimonial-text">
                                            <i class="fa fa-quote-left"></i>  Experiencia profesional en Sistemas de Información, Planeamiento Estratégico, Gestión de Procesos, Gestión de Proyectos, Gestión de la Calidad.
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <img class="testimonial-author-img" th:src="@{/images/avatar/7.jpg}" alt="" />
                                        <div class="testimonial-author">Norma Leon</div>
                                        <div class="testimonial-author-position">Ingeniera en Computación y Sistemas</div>

                                        <div class="testimonial-text">
                                            <i class="fa fa-quote-left"></i>  Amplia experiencia en análisis, desarrollo e implementación de diversos sistemas, experiencia en gestión de proyectos de tecnología e investigación
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <img class="testimonial-author-img" th:src="@{/images/avatar/2.jpg}" alt="" />
                                        <div class="testimonial-author">Bill Gates</div>
                                        <div class="testimonial-author-position">Director de Microsoft</div>

                                        <div class="testimonial-text">
                                            <i class="fa fa-quote-left"></i>  Empresario, informático y filántropo​ estadounidense, cofundador de la empresa de software Microsoft junto con Paul Allen.​
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <img class="testimonial-author-img" th:src="@{/images/avatar/1.jpg}" alt="" />
                                        <div class="testimonial-author">Mark Zuckerberg</div>
                                        <div class="testimonial-author-position">Founder-Ceo. Facebook</div>

                                        <div class="testimonial-text">
                                            <i class="fa fa-quote-left"></i>  Programador y empresario estadounidense, conocido por ser el creador de Facebook.
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <img class="testimonial-author-img" th:src="@{/images/avatar/5.jpg}" alt="" />
                                        <div class="testimonial-author">Jorge Figureoa</div>
                                        <div class="testimonial-author-position">Founder-Ceo. Intecon</div>

                                        <div class="testimonial-text">
                                            <i class="fa fa-quote-left"></i>  Asesor especialista en la implementación de aplicaciones complejas en entidades financieras y microfinancieras.
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-title">
                            <h4>Recientes consultas de Impuesto a la Renta </h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>DNI</th>
                                        <th>Nombre</th>
                                        <th>Sueldo</th>
                                        <th>Total de Impuesto</th>
                                        <th>Total Bruto</th>
                                        <th>Retencion Mensual</th>
                                    </tr>
                                    </thead>
                                    <tbody>



                                    <tr th:each="salary : ${salary}">
                                        <td th:text="${salary.dni}"></td>
                                        <td th:text="${salary.nombre}"></td>
                                        <td th:text="${salary.sueldo}"></td>
                                        <td th:text="${salary.total_impuesto}"></td>
                                        <td th:text="${salary.total_bruto}"></td>
                                        <td th:text="${salary.retencion_mensual}"></td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Message </h4>
                                </div>
                                <div class="recent-comment">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><img alt="..." th:src="@{/images/avatar/1.jpg}" class="media-object"></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Miguel Bezada</h4>
                                            <p> Se acercan los finales </p>
                                            <p class="comment-date">Junio 10, 2018</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><img alt="..." th:src="@{/images/avatar/5.jpg}" class="media-object"></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Luis Moreno</h4>
                                            <p>A estudiar! </p>
                                            <p class="comment-date">Junio 11, 2018</p>
                                        </div>
                                    </div>

                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><img alt="..." th:src="@{/images/avatar/1.jpg}" class="media-object"></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Miguel Bezada</h4>
                                            <p>Presenta tu tesis </p>
                                            <p class="comment-date">Junio 11, 2018</p>
                                        </div>
                                    </div>

                                    <div class="media no-border">
                                        <div class="media-left">
                                            <a href="#"><img alt="..." th:src="@{/images/avatar/5.jpg}" class="media-object"></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Luis Moreno</h4>
                                            <p>Empastando... </p>
                                            <div class="comment-date">Junio 11, 2018</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="year-calendar"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">To-Do</h4>
                            <div class="card-content">
                                <div class="todo-list">
                                    <div class="tdl-holder">
                                        <div class="tdl-content">
                                            <ul>
                                                <li>
                                                    <label>
                                                        <input type="checkbox"><i class="bg-primary"></i><span>Terminar el dashboard</span>
                                                        <a href='#' class="ti-close"></a>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked><i class="bg-success"></i><span>Investigar Scheduling</span>
                                                        <a href='#' class="ti-close"></a>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked><i class="bg-warning"></i><span>Corregir formularios</span>
                                                        <a href='#' class="ti-close"></a>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked><i class="bg-danger"></i><span>Mejorar el diseño</span>
                                                        <a href='#' class="ti-close"></a>
                                                    </label>
                                                </li>

                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked><i class="bg-success"></i><span>Integrar todo</span>
                                                        <a href='#' class="ti-close"></a>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="text" class="tdl-new form-control" placeholder="Type here">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
        <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->
<!-- All Jquery -->
<script th:src="@{/js/lib/jquery/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src="@{/js/lib/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/js/lib/bootstrap/js/bootstrap.min.js}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<!--Menu sidebar -->
<script th:src="@{/js/sidebarmenu.js}"></script>
<!--stickey kit -->
<script th:src="@{/js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
<!--Custom JavaScript -->


<!-- Amchart -->
<script th:src="@{/js/lib/morris-chart/raphael-min.js}"></script>
<script th:src="@{/js/lib/morris-chart/morris.js}"></script>
<script th:src="@{/js/lib/morris-chart/dashboard1-init.js}"></script>


<script th:src="@{/js/lib/calendar-2/moment.latest.min.js}"></script>
<!-- scripit init-->
<script th:src="@{/js/lib/calendar-2/semantic.ui.min.js}"></script>
<!-- scripit init-->
<script th:src="@{/js/lib/calendar-2/prism.min.js}"></script>
<!-- scripit init-->
<script th:src="@{/js/lib/calendar-2/pignose.calendar.min.js}"></script>
<!-- scripit init-->
<script th:src="@{/js/lib/calendar-2/pignose.init.js}"></script>

<script th:src="@{/js/lib/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/js/lib/owl-carousel/owl.carousel-init.js}"></script>




<!--  flot-chart js -->
<script th:src="@{/js/lib/flot-chart/excanvas.min.js}"></script>
<script th:src="@{/js/lib/flot-chart/jquery.flot.js}"></script>
<script th:src="@{/js/lib/flot-chart/jquery.flot.pie.js}"></script>
<script th:src="@{/js/lib/flot-chart/jquery.flot.time.js}"></script>
<script th:src="@{/js/lib/flot-chart/jquery.flot.stack.js}"></script>
<script th:src="@{/js/lib/flot-chart/jquery.flot.resize.js}"></script>
<script th:src="@{/js/lib/flot-chart/jquery.flot.crosshair.js}"></script>
<script th:src="@{/js/lib/flot-chart/curvedLines.js}"></script>
<script th:src="@{/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js}"></script>
<script th:src="@{/js/lib/flot-chart/flot-chart-init.js}"></script>

<!-- scripit init-->

<script th:src="@{/js/scripts.js}"></script>

</body>

</html>